.navbar { background-color: #5755d9; padding: 0.5em 1em 0.5em 1em; }
.navbar .navbar-brand {
  color: #fff;
  font-weight: 400;
}
.avatar img {
  border-radius: 5px 5px 5px 5px;
  background: #fff;
}
#toastcontainer {
  position:fixed;
  bottom:8px;left:0px;right:0px;
  z-index: 100;
}
.hero {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align:center;
}
.chip {
  cursor: pointer;
}
.filter-nav {
  display: inline-block;
}
.sort-nav {
  float: right;
}
.tile-content { position: relative; }
.link-github {
  position:absolute;
  top: 36px;
  left: -24px;
}
.btn-favourite {
  color: red;
}
.hidden {
  display: none !important;
}
.tile {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px rgba(0.8,0.8,0.8,0.05);
  margin: 3px;
  padding: 10px;
  width: 49%;
}
.panel-body,.panel {
  padding-bottom: 10px;
}
body {
  font-family: 'Barlow Condensed', sans-serif;
  font-size:large;
  font-weight: 300;
}
p {
  margin: 0 0 0.5rem;
  font-weight: 300;
}
.tab {
  letter-spacing: 0.015rem;
}
.tile-title {
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
  font-weight: 500;
}
.small-text {
  font-size: 0.8rem;
}
h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1.3rem;
}
#connectmydevice {
  font-size:0.9rem;
}