[submodule "EspruinoAppLoaderCore"]
	path = core
	url = git@github.com:espruino/EspruinoAppLoaderCore.git
[submodule "EspruinoWebTools"]
	path = webtools
	url = git@github.com:espruino/EspruinoWebTools.git
