# Ignore everything...
/*

# Except these files and directories:
!.github/CODEOWNERS
!.scripts/
!README.md
!USER/
!USER_BOOT/
!registry.json
!docs/

# Re-ignore sub-directories from the above exempt directories:
.github/CODEOWNERS
